[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==2.1.2"
werkzeug = "==2.2.3"
flask-restx = "*"
requests = "*"
emoji = "*"
redis = "*"
dacite = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
